@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Brian Dol's Authentication Test App</h1>
    <p>In this web app you will be able to register and log in as a user as well as view my favorite quotes. You can also make your own quotes and add them to the database.</p>
</div>
